@forward "/src/scss/components/card/";

.contact_list {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  li {
    display: flex;
    align-items: flex-start;
    gap: 0.75rem;
    font-size: 0.95rem;
    opacity: 0.85;

    svg {
      color: var(--color-secondary);
      margin-top: 3px;
      flex-shrink: 0;
    }
  }
}