// font-family
$font-display: "Playfair Display", serif;
$font-abril: "Abril Fatface", cursive;
$font-lobster: "Lobster", cursive;
$font-lato: "Lato", sans-serif;
$font-nunito: "Nunito", sans-serif;
$font-dm: "DM Sans", sans-serif;
// colors
$color-primary: #d62828;
$color-primary-hover: #771c1c;
$color-secondary: #f7a400;
$color-secondary-hover: #ac7302;
$color-dark: #1a1a1a;
$color-light: #f5f5f5;
$color-white: #ffffff;
$color-text: #333333;
$color-muted: #888888;
//border
$border-radius-sm: 4px;
$border-radius-md: 8px;
$border-radius-lg: 16px;
