@forward "/src/scss/components/card/";

.sobre_texto {
  font-size: 0.95rem;
  opacity: 0.8;
  line-height: 1.7;
}

.sobre_badge {
  margin-top: auto;
  span {
    background: color-mix(in srgb, var(--color-secondary) 15%, transparent);
    color: var(--color-secondary);
    font-size: 0.85rem;
    padding: 6px 14px;
    border-radius: var(--border-radius-md);
    border: solid 1px
      color-mix(in srgb, var(--color-secondary) 30%, transparent);
  }
}
