@mixin background-section-style {
  position: relative;
  width: 100%;
  min-height: 600px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
//   justify-content: center;
  scroll-behavior: smooth;
  padding: 0 0 0 62px;
}

@mixin overlay-style {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 255, 255, 0.096) 100%
  );
}
